modules = ["web", "python-3.12", "nodejs-20"]
run = "python undefined"

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
run = ["sh", "-c", "python undefined"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 2670294
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python app.py"

[[ports]]
localPort = 5000
externalPort = 80
